@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

.container {}

.container>hr {
  border-bottom: none;
}

.name {
  text-align: center;
  color: #4f4f4f;
  font-weight: bold;
  border-bottom: 1px solid #66B392;
}

.header {
  position: relative;
  background-color: #66B392;
}

.header>p {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

.flowerName {
  color: #4f4f4f;
}

.flowerType {
  color: #828282;
}

.todo {
  color: #4f4f4f;
}

@media (min-width: 320px) and (max-width: 480px) {
  .container {}

  .container>hr {
    width: 90%;
    border-top: 1px solid #66B392;
  }

  .name {
    width: 90%;
    margin: 15px auto;
    font-size: 19px;
  }

  .header {
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
  }

  .flower {
    margin-left: 30px;
  }

  .flowerName {
    font-size: 19px;
  }

  .flowerType {
    font-size: 16px;
  }

  .todo {
    font-size: 14px;
    margin-left: 10px;
  }
}

/*Color checkboxa: #A07BB4*/


/*  */
@media (min-width: 481px) and (max-width: 767px) {
	* {
		background-color: rgb(0, 255, 0);
	}
	.flower {
		width: 100vw;
		min-height: 50px;
		padding: 0;
		margin: 0;
		position: relative;
		display: flex;
	}
	.flowerRow {
		width: 90%;
		height: auto;
		padding: 0;
		margin: 0;
		float: left;
	}
	.todo {		
		position: relative;
		height: 25px;
	}
	.todo p {
		margin: 0;
		padding: 0;
		height: 100%;
	}
	.todo input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}
	.todo:hover input ~ .checkToDo {
		background-color: #ccc;
	}
	.checkToDo {
		position: absolute;
		top: 0;
		left: 0;
		height: 25px;
		width: 25px;
		background-image: url('img/baseline-check_box_outline_blank-24px.svg');
		background-repeat: no-repeat;
	}
	.checkToDo:checked {
		
	}
	.moveTo {
		background-image: url('img/baseline-chevron_right-24px.svg');
		background-repeat: no-repeat;
		background-size: contain;
		width: 10%;
		height: auto;
		margin: 0;
		padding: 0;
		float: left;
	}
}

/*  */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  * {
    background-color: rgb(255, 255, 0);
  }
}

/*  */
@media (min-width: 768px) and (max-width: 1024px) {
  * {
    background-color: rgb(0, 0, 255);
  }
}

/*  */
@media (min-width: 768px) and (max-width: 1024px) {
  * {
    background-color: rgb(255, 0, 255);
  }
}

/*  */
@media screen only (min-width: 1025px) and (max-width: 1280px) {
  * {
    background-color: rgb(0, 255, 255);
  }
}

/*  */
@media screen only (min-width: 1281px) {
  * {
    background-color: rgb(255, 255, 255);
  }
}
