<div class="container">
  <div class='name'>
    TO DO
  </div>
  <div class='header'>
    <p>Today</p>
  </div>
  <div class='flower'>
    <span class='flowerName'>
      Andrzejek
    </span>
    <span class='flowerType'>
      (Echeveria)
    </span>
    <div class='todo'>
      <input class='checkToDo' type='checkbox' />
      watering
    </div>
    <img class='moveTo' src='' />
  </div>
  <hr>
  <div class='flower'>
    <span class='flowerName'>
      Olaf
    </span>
    <span class='flowerType'>
      (Orchid)
    </span>
    <div class='todo'>
      <input class='checkToDo' type='checkbox' />
      watering
    </div>
    <div class='todo'>
      <input class='checkToDo' type='checkbox' />
      hydrogel
    </div>
    <img class='moveTo' src='' />
  </div>
  <div class='header'>
    <p>Tomorrow</p>
  </div>
  <div class='flower'>
    <span class='flowerName'>
      Benjamin
    </span>
    <span class='flowerType'>
      (Benjamin)
    </span>
    <div class='todo'>
      <input class='checkToDo' type='checkbox' />
      watering
    </div>
    <img class='moveTo' src='' />
  </div>
  <div class='footer'>

  </div>
</div>
