@media (min-width: 320px) and (max-width: 480px) {
	.container {
    }
    
    .header{
        background-color: #66B392;
        width: 100%;
        height: 40px;
        color: white;
        font-weight: bold;
        text-align: center;
        padding-top: 10px;
    }

    .flower{

    }
}
/*#A07BB4*/