.content {
  padding-bottom: 80px;
}

hr {
  border-bottom: none;
}

.name {
  text-align: center;
  color: #4f4f4f;
  font-weight: bold;
  border-bottom: 1px solid #66B392;
}

.header {
  position: relative;
  background-color: #66B392;
}

.header>p {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  text-align: center;
}

.flower {
  width: 100vw;
  min-height: 50px;
  padding: 0;
  margin: 10px 0;
  position: relative;
  display: flex;
  box-sizing: border-box;
}

.flowerRow {
  height: auto;
  padding: 0;
  margin: 0;
  float: left;
}

.flowerName {
  color: #4f4f4f;
}

.flowerType {
  color: #828282;
}

.todo {
  color: #4f4f4f;
  display: block;
  position: relative;
  cursor: pointer;
}

.todo input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkToDo {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../../assets/icons/checkbox_empty.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.todo input:checked~.checkToDo {
  background-image: url('../../assets/icons/checkbox.svg');
}

.moveTo {
  background-image: url('../../assets/icons/arrow-right.svg');
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
  padding: 0;
  float: left;
  cursor: pointer;
}

.bottom-panel {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: #66B392
}

.profile-photo{
  width: 50px;
}

.panel-icon{
  color: white;
}

@media (min-width: 320px) and (max-width: 480px) {
  hr {
    width: 90%;
    border-top: 1px solid #66B392;
  }

  .name {
    width: 90%;
    margin: 15px auto;
    font-size: 19px;
  }

  .header {
    width: 100%;
    height: 35px;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .flower {
    margin-top: 15px;
    padding-left: 30px;
  }

  .flowerRow {
    width: 80%;
  }

  .flowerName {
    font-size: 19px;
    position: relative;
    top: -15px;
  }

  .flowerType {
    font-size: 16px;
    position: relative;
    top: -15px;
  }

  .todo {
    margin-top: 10px;
    font-size: 14px;
    margin-left: 10px;
    padding-left: 26px;
  }

  .checkToDo {
    height: 20px;
    width: 20px;
  }

  .moveTo {
    height: 50px;
    width: 50px;
  }

  .panel-icon{
    font-size: 48px;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-left: 17%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  hr {
    width: 90%;
    border-top: 1px solid #66B392;
  }

  .name {
    width: 90%;
    margin: 15px auto;
    font-size: 24px;
  }

  .header {
    width: 100%;
    height: 45px;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .header>p {
    font-size: 21px;
  }

  .flower {
    margin-top: 15px;
    padding-left: 30px;
  }

  .flowerRow {
    width: 90%;
  }

  .flowerName {
    font-size: 21px;
  }

  .flowerType {
    font-size: 19px;
  }

  .todo {
    margin-top: 10px;
    font-size: 18px;
    margin-left: 20px;
    padding-left: 30px;
  }

  .checkToDo {
    height: 20px;
    width: 20px;
  }

  .moveTo {
    height: 60px;
    width: 60px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  hr {
    width: 90%;
    border-top: 1px solid #66B392;
  }

  .name {
    width: 90%;
    margin: 25px auto;
    font-size: 26px;
  }

  .header {
    width: 100%;
    height: 65px;
    margin-top: 25px;
    margin-bottom: 20px;
  }

  .header>p {
    font-size: 28px;
  }

  .flower {
    margin-top: 35px;
    padding-left: 30px;
  }

  .flowerRow {
    width: 90%;
  }

  .flowerName {
    font-size: 27px;
  }

  .flowerType {
    font-size: 24px;
  }

  .todo {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 22px;
    margin-left: 10px;
    padding-left: 40px;
  }

  .checkToDo {
    height: 28px;
    width: 28px;
  }

  .moveTo {
    height: 70px;
    width: 70px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  hr {
    width: 90%;
    border-top: 1px solid #66B392;
  }

  .name {
    width: 90%;
    margin: 25px auto;
    font-size: 24px;
  }

  .header {
    width: 100%;
    height: 55px;
    margin-top: 25px;
    margin-bottom: 20px;
  }

  .header>p {
    font-size: 24px;
  }

  .flower {
    margin-top: 35px;
    padding-left: 30px;
  }

  .flowerRow {
    width: 90%;
  }

  .flowerName {
    font-size: 23px;
  }

  .flowerType {
    font-size: 20px;
  }

  .todo {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 18px;
    margin-left: 10px;
    padding-left: 40px;
  }

  .checkToDo {
    height: 28px;
    width: 28px;
  }

  .moveTo {
    height: 70px;
    width: 70px;
  }
}

@media (min-width: 1281px) {
  hr {
    width: 90%;
    border-top: 1px solid #66B392;
  }

  .name {
    width: 90%;
    margin: 45px auto;
    font-size: 29px;
  }

  .header {
    width: 100%;
    height: 65px;
    margin-top: 25px;
    margin-bottom: 20px;
  }

  .header>p {
    font-size: 28px;
  }

  .flower {
    margin-top: 45px;
    padding-left: 30px;
  }

  .flowerRow {
    width: 90%;
  }

  .flowerName {
    font-size: 27px;
  }

  .flowerType {
    font-size: 24px;
  }

  .todo {
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 22px;
    margin-left: 10px;
    padding-left: 40px;
  }

  .checkToDo {
    height: 28px;
    width: 28px;
  }

  .moveTo {
    height: 90px;
    width: 90px;
  }
}
