<div class='name'>
  TO DO
</div>
<div class='header'>
  <p>Today</p>
</div>
<div class='flower'>
  <div class='flowerRow'>
    <span class='flowerName'>
      Andrzejek
    </span>
    <span class='flowerType'>
      (Echeveria)
    </span>
    <label class='todo'>watering
      <input type='checkbox'>
      <span class="checkToDo"></span>
    </label>
  </div>
  <span class='moveTo'></span>
</div>
<hr>
<div class='flower'>
  <div class='flowerRow'>
    <span class='flowerName'>
      Olaf
    </span>
    <span class='flowerType'>
      (Orchid)
    </span>
    <label class='todo'>watering
      <input type='checkbox'>
      <span class="checkToDo"></span>
    </label>
    <label class='todo'>hydrogel
      <input type='checkbox'>
      <span class="checkToDo"></span>
    </label>
  </div>
  <span class='moveTo'></span>
</div>
<div class='header'>
  <p>Tomorrow</p>
</div>
<div class='flower'>
  <div class='flowerRow'>
    <span class='flowerName'>
      Benjamin
    </span>
    <span class='flowerType'>
      (Benjamin)
    </span>
    <label class='todo'>watering
      <input type='checkbox'>
      <span class="checkToDo"></span>
    </label>
  </div>
  <span class='moveTo'></span>
</div>
<div class='footer'>

</div>
