<div class='name'>
  {{plant.name}}
</div>
<div class='infoimg'>
	<div class='infoimg test-img' [style.backgroundImage]=" 'url('+plant.img+')'"></div>
</div>


<div class="infodetails">
	<span class='wateringicon'></span>
	{{plant.watering}}
</div>
<div class="infodetails">
	<span class='sunicon'></span>
	{{plant.sun}}
</div>
<div class="infodetails">
	<span class='fertizalisngicon'></span>
	{{plant.fertizalisng}}
</div>
<div class="infodescription">
	{{plant.description}}
</div>
<!--<div class="">
	{{plant.comments.autor}}
</div>
<div class="">
	{{plant.comments.comment}}
</div>
<div class="">
	{{plant.comments.title}}
</div>-->
